<template>
	<div class="am-brand" @click="$emit('click', $event)">
		<router-link  :to="{path:  '/'}" >
		

		<svg class="am-brand__image" xmlns="http://www.w3.org/2000/svg" width="63.286" height="20.59" viewBox="0 0 63.286 20.59" v-if="!typo">
			<g id="Agrupar_255" data-name="Agrupar 255" transform="translate(0 0)">
				<path id="Caminho_84" data-name="Caminho 84" d="M1314.793,829.886c-9.3,0-18.218,1.777-25.1,5l.536,1.4c6.717-3.149,15.441-4.884,24.565-4.884s17.847,1.734,24.564,4.884l.537-1.4C1333.01,831.663,1324.1,829.886,1314.793,829.886Z" transform="translate(-1283.151 -815.699)" :fill="color"/>
				<path id="Caminho_85" data-name="Caminho 85" d="M1339.894,764.135l-.537-1.4c-6.717,3.149-15.44,4.884-24.564,4.884s-17.848-1.735-24.565-4.884l-.536,1.4c6.883,3.227,15.8,5,25.1,5S1333.01,767.362,1339.894,764.135Z" transform="translate(-1283.151 -762.736)" :fill="color"/>
				<rect id="Retângulo_25" data-name="Retângulo 25" width="63.286" height="1.519" transform="translate(0 9.535)" :fill="color"/>
			</g>
		</svg>

		<svg class="am-brand__image" data-name="Agrupar 428" xmlns="http://www.w3.org/2000/svg" width="135.191" height="74.636" viewBox="0 0 135.191 74.636" v-if="typo">
			<path id="Caminho_55" data-name="Caminho 55" d="M1287.857,614.686v-.162c0-.624-.553-1.122-1.47-1.122a1.467,1.467,0,0,0-1.555,1.482v1.53a1.373,1.373,0,0,0,1.555,1.416c.917,0,1.47-.5,1.47-1.123v-.162h-.372v.108c0,.493-.329.847-1.1.847a1.034,1.034,0,0,1-1.146-1.117v-1.536a1.033,1.033,0,0,1,1.122-1.11c.768,0,1.122.348,1.122.84v.108Z" transform="translate(-1257.7 -561.883)" :fill="color"/>
			<path id="Caminho_56" data-name="Caminho 56" d="M1300.6,613.4a1.447,1.447,0,0,0-1.554,1.536v1.476a1.363,1.363,0,0,0,1.524,1.416,1.443,1.443,0,0,0,1.572-1.489v-1.517A1.368,1.368,0,0,0,1300.6,613.4Zm1.134,2.976a1.14,1.14,0,0,1-2.28.006v-1.458a1.059,1.059,0,0,1,1.122-1.177,1.016,1.016,0,0,1,1.157,1.086Z" transform="translate(-1265.775 -561.883)" :fill="color"/>
			<path id="Caminho_57" data-name="Caminho 57" d="M1316.444,617.116h-.017l-2.208-3.534h-.4v4.278h.343v-3.63h.019l2.25,3.643h.348v-4.29h-.337Z" transform="translate(-1274.164 -561.986)" :fill="color"/>
			<path id="Caminho_58" data-name="Caminho 58" d="M1330.033,613.582h-1.506v4.278h1.506a1.307,1.307,0,0,0,1.411-1.392v-1.536A1.261,1.261,0,0,0,1330.033,613.582Zm1.014,2.9a.951.951,0,0,1-1.026,1.033h-1.111v-3.595h1.063a.969.969,0,0,1,1.073,1.057Z" transform="translate(-1282.516 -561.985)" :fill="color"/>
			<path id="Caminho_59" data-name="Caminho 59" d="M1344.19,613.4a1.447,1.447,0,0,0-1.555,1.536v1.476a1.363,1.363,0,0,0,1.525,1.416,1.444,1.444,0,0,0,1.572-1.489v-1.517A1.368,1.368,0,0,0,1344.19,613.4Zm1.134,2.976a1.141,1.141,0,0,1-2.28.006v-1.458a1.058,1.058,0,0,1,1.122-1.177,1.016,1.016,0,0,1,1.158,1.086Z" transform="translate(-1290.528 -561.883)" :fill="color"/>
			<path id="Caminho_60" data-name="Caminho 60" d="M1360.649,613.99v3.87h.384v-4.278h-.625l-1.188,2.8h-.019l-1.169-2.8h-.625v4.278h.367v-3.87h.03l1.242,2.923h.311l1.261-2.923Z" transform="translate(-1298.917 -561.986)" :fill="color"/>
			<path id="Caminho_61" data-name="Caminho 61" d="M1373.489,617.519v.342h2.257v-.342h-.937v-3.595h.937v-.342h-2.257v.342h.936v3.595Z" transform="translate(-1308.05 -561.986)" :fill="color"/>
			<path id="Caminho_62" data-name="Caminho 62" d="M1376.255,610.193l-.474,1.056h.293l.612-1.056Z" transform="translate(-1309.352 -560.061)" :fill="color"/>
			<path id="Caminho_63" data-name="Caminho 63" d="M1389.022,617.116H1389l-2.208-3.534h-.4v4.278h.343v-3.63h.018l2.25,3.643h.348v-4.29h-.337Z" transform="translate(-1315.382 -561.986)" :fill="color"/>
			<path id="Caminho_64" data-name="Caminho 64" d="M1400.94,613.924h.936v3.595h-.936v.342h2.257v-.342h-.937v-3.595h.937v-.342h-2.257Z" transform="translate(-1323.64 -561.986)" :fill="color"/>
			<path id="Caminho_65" data-name="Caminho 65" d="M1415.153,613.4a1.448,1.448,0,0,0-1.555,1.536v1.476a1.363,1.363,0,0,0,1.525,1.416,1.444,1.444,0,0,0,1.572-1.489v-1.517A1.368,1.368,0,0,0,1415.153,613.4Zm1.133,2.976a1.14,1.14,0,0,1-2.28.006v-1.458a1.058,1.058,0,0,1,1.122-1.177,1.016,1.016,0,0,1,1.158,1.086Z" transform="translate(-1330.829 -561.883)" :fill="color"/>
			<path id="Caminho_66" data-name="Caminho 66" d="M1438.642,613.582h-1.506v4.278h1.506a1.307,1.307,0,0,0,1.412-1.392v-1.536A1.261,1.261,0,0,0,1438.642,613.582Zm1.015,2.9a.951.951,0,0,1-1.026,1.033h-1.111v-3.595h1.063a.969.969,0,0,1,1.073,1.057Z" transform="translate(-1344.197 -561.985)" :fill="color"/>
			<path id="Caminho_67" data-name="Caminho 67" d="M1452.114,613.5l-1.536,4.315h.4l.455-1.332h1.706l.461,1.332h.4l-1.513-4.315Zm-.57,2.659.726-2.124h.011l.738,2.124Z" transform="translate(-1351.83 -561.938)" :fill="color"/>
			<path id="Caminho_68" data-name="Caminho 68" d="M1466.78,617.5a1.053,1.053,0,0,1-1.105-.864l-.408.054a1.4,1.4,0,0,0,1.514,1.152,1.292,1.292,0,0,0,1.451-1.272,1.125,1.125,0,0,0-.889-1.074l-.881-.294a.737.737,0,0,1-.582-.7.815.815,0,0,1,.911-.744,1.01,1.01,0,0,1,1.031.63l.324-.163a1.3,1.3,0,0,0-1.367-.8,1.172,1.172,0,0,0-1.314,1.164,1.074,1.074,0,0,0,.815.984l.864.276a.8.8,0,0,1,.661.786A.925.925,0,0,1,1466.78,617.5Z" transform="translate(-1360.172 -561.891)" :fill="color"/>
			<path id="Caminho_69" data-name="Caminho 69" d="M1308,557.609c-19.874,0-38.917,3.433-53.621,9.668l1.147,2.7c14.348-6.084,32.984-9.436,52.475-9.436s38.125,3.352,52.473,9.436l1.146-2.7C1346.917,561.042,1327.875,557.609,1308,557.609Z" transform="translate(-1240.405 -530.197)" :fill="color"/>
			<path id="Caminho_70" data-name="Caminho 70" d="M1361.621,496.87l-1.146-2.7c-14.349,6.085-32.985,9.436-52.473,9.436s-38.126-3.352-52.475-9.436l-1.147,2.7c14.7,6.235,33.747,9.669,53.621,9.669S1346.917,503.1,1361.621,496.87Z" transform="translate(-1240.405 -494.167)" :fill="color"/>
			<rect id="Retângulo_18" data-name="Retângulo 18" width="135.191" height="2.935" transform="translate(0 18.424)" :fill="color"/>
			<path id="Caminho_71" data-name="Caminho 71" d="M1244.181,636.566l-2.84,13.012h1.765l2.3-11.323,2.341,11.323h1.767l-2.8-13.012Z" transform="translate(-1233 -575.039)" :fill="color"/>
			<path id="Caminho_72" data-name="Caminho 72" d="M1286.183,644.281l-2.763-7.715H1281.4v13.012h1.708V643.4a35.753,35.753,0,0,0-.192-3.838l2.419,6.6h1.669l2.419-6.6a37.781,37.781,0,0,0-.192,3.858v6.16h1.727V636.566h-2.015Z" transform="translate(-1255.753 -575.039)" :fill="color"/>
			<path id="Caminho_73" data-name="Caminho 73" d="M1326.8,649.578h5.931V648H1328.6v-4.2h3.59v-1.593h-3.59v-4.05h4.127v-1.593H1326.8Z" transform="translate(-1281.533 -575.039)" :fill="color"/>
			<path id="Caminho_74" data-name="Caminho 74" d="M1369.174,641.537v-2.073a2.787,2.787,0,0,0-.815-2.131,3.309,3.309,0,0,0-2.352-.767h-3.494v13.012h1.8v-5.067h1.44l1.861,5.067h2l-2.074-5.3A2.6,2.6,0,0,0,1369.174,641.537Zm-1.8-.019a1.54,1.54,0,0,1-.355,1.112,1.565,1.565,0,0,1-1.161.365h-1.536v-4.856h1.536q1.516,0,1.516,1.44Z" transform="translate(-1301.817 -575.039)" :fill="color"/>
			<rect id="Retângulo_19" data-name="Retângulo 19" width="1.824" height="13.012" transform="translate(77.277 61.527)" :fill="color"/>
			<path id="Caminho_75" data-name="Caminho 75" d="M1428.812,637.1a2.6,2.6,0,0,0-.921,2.121v7.447q0,2.879,3.686,2.879h2.3v-1.631h-2.183a2.551,2.551,0,0,1-1.554-.346,1.237,1.237,0,0,1-.421-1.017v-7.2a1.275,1.275,0,0,1,.413-1.037,2.42,2.42,0,0,1,1.506-.346h2.24v-1.631H1431.6A4.316,4.316,0,0,0,1428.812,637.1Z" transform="translate(-1338.947 -574.913)" :fill="color"/>
			<path id="Caminho_76" data-name="Caminho 76" d="M1464.49,636.566l-2.84,13.012h1.765l2.3-11.323,2.341,11.323h1.767l-2.8-13.012Z" transform="translate(-1358.119 -575.039)" :fill="color"/>
			<path id="Caminho_77" data-name="Caminho 77" d="M1505.262,643l-2.227-1.247a2.479,2.479,0,0,1-.854-.7,1.7,1.7,0,0,1-.24-.969v-.748q0-1.324,1.784-1.325h2.471v-1.669h-2.643a3.852,3.852,0,0,0-2.543.748,2.6,2.6,0,0,0-.893,2.111v1.151a2.951,2.951,0,0,0,1.708,2.745l2.169,1.19a2.148,2.148,0,0,1,.787.623,1.6,1.6,0,0,1,.211.893v.652q0,1.421-2.092,1.421h-2.667v1.669h2.849a4.4,4.4,0,0,0,2.754-.758,2.569,2.569,0,0,0,.979-2.159v-1.075A2.734,2.734,0,0,0,1505.262,643Z" transform="translate(-1379.966 -574.913)" :fill="color"/>
			<path id="Caminho_78" data-name="Caminho 78" d="M1330.426,631.635h3.3v-1.628l-3.3.86Z" transform="translate(-1283.594 -571.313)" :fill="color"/>
		</svg>
		</router-link>
	</div>
</template>

<script>
export default {
	props: {
		dark: {
			type: Boolean,
			default: false
		},
		typo: {
			type: Boolean,
			default: false
		}
	},

	computed: {
		color() {
			return this.dark ? 'white' : '#99887F'
		}
	}
}
</script>

<style lang="scss">
.am-brand{
	cursor: pointer;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;

	&__image{
		display: inline-block;
	}

	@include grid-media($smartphone-grid) {
		width: 135px;
		height: auto;
	}
}
</style>
