<template>
	<am-intro
		video="qsbIJRoocVA"
		:background="require('@/assets/images/promote/thumbnail.png')"
		@enter="$router.push({ name: 'landing' })"
	/>
</template>

<script>
import { mapGetters } from 'vuex'
import AMIntro from '@/components/templates/AMIntro'

export default {
	components: {
		'am-intro': AMIntro
	}
}
</script>
